{% extends 'base.html.twig' %}
    {% block title %}{{ tache.nom }}{% endblock %}
        {% block body %}
        <h1>{{ tache.titre }}</h1>
        <p>{{ tache.statut }}</p>
        <hr>
    <a href="/">Retour</a>
{% endblock %}